$white:#fff;
$black:#000;
$color_333333:#333;
$color_999999:#999;
$color_0086d1:#0086d1;
$color_e94738:#e94738;
$color_e99314:#e99314;
$color_efeff4:#efeff4;
$color_c7effb:#c7effb;
$color_018bd6:#018bd6;
$color_d9d9d9:#d9d9d9;
$color_f9f9f9:#f9f9f9;
$color_dc4637:#dc4637;
$color_9a9899:#9a9899;
$color_f39800:#f39800;
$color_666666:#666;
$color_fafafa:#fafafa;
$color_9a9899:#9a9899;
$color_1c7fc2:#1c7fc2;
